<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cd-heading" jhiTranslate="collmateApp.cd.home.createOrEditLabel">Create or edit a Cd</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cd.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="collmateApp.cd.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="collmateApp.cd.performer" for="field_performer">Performer</label>
                    <input type="text" class="form-control" name="performer" id="field_performer"
                           formControlName="performer"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="collmateApp.cd.releaseYear" for="field_releaseYear">Release Year</label>
                    <input type="text" class="form-control" name="releaseYear" id="field_releaseYear"
                           formControlName="releaseYear"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="collmateApp.cd.diskCount" for="field_diskCount">Disk Count</label>
                    <input type="text" class="form-control" name="diskCount" id="field_diskCount"
                           formControlName="diskCount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="collmateApp.cd.medium" for="field_medium">Medium</label>
                    <input type="text" class="form-control" name="medium" id="field_medium"
                           formControlName="medium"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="collmateApp.cd.label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                           formControlName="label"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="collmateApp.cd.state" for="field_state">State</label>
                    <select class="form-control" name="state" formControlName="state" id="field_state">
                        <option value="OK">{{'collmateApp.State.OK' | translate}}</option>
                        <option value="AWAY">{{'collmateApp.State.AWAY' | translate}}</option>
                        <option value="LOST">{{'collmateApp.State.LOST' | translate}}</option>
                        <option value="EXPECTED">{{'collmateApp.State.EXPECTED' | translate}}</option>
                        <option value="UNDEFINED">{{'collmateApp.State.UNDEFINED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="collmateApp.cd.added" for="field_added">Added</label>
                    <div class="d-flex">
                        <input id="field_added" type="datetime-local" class="form-control" name="added" formControlName="added" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
